---
import Intro from "~/components/intro.astro";
import Projects from "~/components/projects.astro";
import Splash from "~/components/splash.astro";
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout dynamicHeader>
  <Splash />
  <div class="space-y-24 px-8 py-32">
    <Intro />
    <!-- <Features />
    <Compatibility /> -->
    <Projects />
  </div>
</MainLayout>
