---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="The Movement" id="intro">
  <Fragment slot="lead">
    At <span class="text-primary">Lightstand</span>, we believe technology is a powerful tool to glorify <span class="text-primary">God</span>. 
    Our movement is dedicated to crafting apps that inspire, <span class="text-primary">connect</span>, and uplift, reflecting our faith in every line of code. 
    We <span class="text-primary">empower</span> ministries and individuals to make a meaningful impact, 
    blending innovation with spirituality.
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
