---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const projects = await getCollection(
  "projects",
  ({ data }) => "featured" in data,
);

const ordereProjects = projects.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Projects" id="projects">
  <Fragment slot="lead">
    Astro is <span class="text-primary">versatile</span>.{" "}
    <span class="text-primary">Explore</span> what's possible and get{" "}
    <span class="text-primary">inspired</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {ordereProjects.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://astro.build/showcase/">
        ...and more &rarr;
      </a>
    </p>
  </div>
</ContentSection>
