---
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import DrawingLogo from "~/components/brand/DrawingLogo.astro";

---

<section class="relative h-full bg-black">
  <!-- <Starfield /> -->
  <DrawingLogo /> 
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-1">
    <h2
    class="flex flex-col items-center gap-2 sm:gap-4 sm:self-auto"
    >
      <!-- <div class="relative h-24 w-24 md:h-32 md:w-32 mt-auto"> -->
      <!-- </div> -->
      <!-- <Icon name="logomark" class="size-20 text-white md:size-32" /> -->
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-8xl"
      >
        Crafting software
        <br />for the glory
        <br />of God.
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>

  @media (prefers-reduced-motion: reduce) {
    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
